<!DOCTYPE html>
<html>
  <head>
  <meta name="image" property="og:image" content="https://ibb.co/Hz05mM6">
  <meta name="description" property="og:description" content="Binterested is an application that allows users to explore and share creative ideas inspired by Pinterest. It is based on a Ruby on Rails, utilizing PostgreSQL and Amazon data storage. React and Redux are the main libraries utilized for the frontend, along with HTML and CSS, with Heroku used for app deployment.">
    <script src="https://kit.fontawesome.com/f64eaac00e.js" crossorigin="anonymous"></script>
    <title>
      B-interested
    </title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
      window.dress3 = "<%= image_url('dress3.jpg') %>";
      window.dress2 = "<%= image_url('dress2.jpg') %>";
      window.dress4 = "<%= image_url('dress4.jpg') %>";
      window.dress5 = "<%= image_url('dress5.jpg') %>";
      window.dress6 = "<%= image_url('dress6.jpg') %>";
      window.splash14 = "<%= image_url('splash14.jpg') %>";
      window.splash4 = "<%= image_url('splash4.jpg') %>";
      window.splash12 = "<%= image_url('splash12.jpg') %>";
      window.splash6 = "<%= image_url('splash6.jpg') %>";
      window.splash5 = "<%= image_url('splash5.jpg') %>";
      window.splash13 = "<%= image_url('splash13.jpg') %>";
      window.splash8 = "<%= image_url('splash8.jpg') %>";
      window.splash9 = "<%= image_url('splash9.jpg') %>";
      window.splash14 = "<%= image_url('splash14.jpg') %>";
      window.splash15 = "<%= image_url('splash15.jpg') %>";
      window.splash16 = "<%= image_url('splash16.jpg') %>";
      window.splash3 = "<%= image_url('splash3.jpg') %>";
      window.splash17 = "<%= image_url('splash17.jpg') %>";
      window.splash18 = "<%= image_url('splash18.jpg') %>";
      window.logo = "<%= image_url('logo.png') %>";
      window.logo1 = "<%= image_url('logo1.png') %>";
      window.logo2 = "<%= image_url('logo2.png') %>";
      window.favicon = "<%= image_url('favicon.ico') %>";
      
       window.c1 = "<%= image_url('1.jpg') %>";
       window.c2 = "<%= image_url('2.jpg') %>";
       window.c3 = "<%= image_url('3.jpg') %>";
       window.c4 = "<%= image_url('4.jpg') %>";
       window.c5 = "<%= image_url('5.jpg') %>";
       window.c6 = "<%= image_url('6.jpg') %>";
       window.c7 = "<%= image_url('7.jpg') %>";
       window.c8 = "<%= image_url('8.jpg') %>";
       window.c9 = "<%= image_url('9.jpg') %>";
       window.c10 = "<%= image_url('10.jpg') %>";
       window.c11 = "<%= image_url('11.jpg') %>";
       window.c12 = "<%= image_url('12.jpg') %>";
       window.c13 = "<%= image_url('13.jpg') %>";
       window.c14 = "<%= image_url('14.jpg') %>";
       window.c15 = "<%= image_url('15.jpg') %>";
       window.c16 = "<%= image_url('16.jpg') %>";
       window.c17 = "<%= image_url('17.jpg') %>";
       window.c18 = "<%= image_url('18.jpg') %>";
       window.c19 = "<%= image_url('19.jpg') %>";
       window.c20 = "<%= image_url('20.jpg') %>";
       window.c21 = "<%= image_url('21.jpg') %>";
       window.c22 = "<%= image_url('22.jpg') %>";
       window.c23 = "<%= image_url('23.jpg') %>";
       window.c24 = "<%= image_url('24.jpg') %>";
       window.c25 = "<%= image_url('25.jpg') %>";
       window.c26 = "<%= image_url('26.jpg') %>";
       window.c27 = "<%= image_url('27.jpg') %>";
       window.c28 = "<%= image_url('28.jpg') %>";
       window.c30 = "<%= image_url('30.jpg') %>";
       window.c31 = "<%= image_url('31.jpg') %>";
       window.c32 = "<%= image_url('32.jpg') %>";
       window.c33 = "<%= image_url('33.jpg') %>";
       window.c34 = "<%= image_url('34.jpg') %>";
       window.c35 = "<%= image_url('35.jpg') %>";
       window.c36 = "<%= image_url('36.jpg') %>";
       window.c37 = "<%= image_url('37.jpg') %>";
       window.c38 = "<%= image_url('38.jpg') %>";
       window.c39 = "<%= image_url('39.jpg') %>";
       window.f1 = "<%= image_url('f1.jpg') %>";
       window.f2 = "<%= image_url('f2.jpg') %>";
       window.f3 = "<%= image_url('f3.jpg') %>";
       window.f4 = "<%= image_url('f4.jpg') %>";
       window.f5 = "<%= image_url('f5.jpg') %>";
       window.f6 = "<%= image_url('f6.jpg') %>";
       window.f7 = "<%= image_url('f7.jpg') %>";
       window.f8 = "<%= image_url('f8.jpg') %>";
       window.f9 = "<%= image_url('f9.jpg') %>";
       window.f10 = "<%= image_url('f10.jpg') %>";
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
