<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/f64eaac00e.js" crossorigin="anonymous"></script>
    
    <title>
    B-interest
    </title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

<script type="text/javascript">
  window.dress3 = "<%= image_url('dress3.jpg') %>";
  window.dress2 = "<%= image_url('dress2.jpg') %>";
  window.dress4 = "<%= image_url('dress4.jpg') %>";
  window.dress5 = "<%= image_url('dress5.jpg') %>";
  window.dress6 = "<%= image_url('dress6.jpg') %>";
  window.splash14 = "<%= image_url('splash14.jpg') %>";
  window.splash4 = "<%= image_url('splash4.jpg') %>";
  window.splash12 = "<%= image_url('splash12.jpg') %>";
  window.splash6 = "<%= image_url('splash6.jpg') %>";
  window.splash5 = "<%= image_url('splash5.jpg') %>";
  window.splash13 = "<%= image_url('splash13.jpg') %>";
  window.splash8 = "<%= image_url('splash8.jpg') %>";
  window.splash9 = "<%= image_url('splash9.jpg') %>";
  window.splash14 = "<%= image_url('splash14.jpg') %>";
  window.splash15 = "<%= image_url('splash15.jpg') %>";
  window.splash16 = "<%= image_url('splash16.jpg') %>";
  window.splash3 = "<%= image_url('splash3.jpg') %>";
  window.splash17 = "<%= image_url('splash17.jpg') %>";
  window.splash18 = "<%= image_url('splash18.jpg') %>";
  window.logo = "<%= image_url('logo.png') %>";
  window.favicon = "<%= image_url('favicon.ico') %>";

   window.c1 = "<%= image_url('1.jpg') %>";
   window.c2 = "<%= image_url('2.jpg') %>";
   window.c3 = "<%= image_url('3.jpg') %>";
   window.c4 = "<%= image_url('4.jpg') %>";
   window.c5 = "<%= image_url('5.jpg') %>";
   window.c6 = "<%= image_url('6.jpg') %>";
   window.c7 = "<%= image_url('7.jpg') %>";
   window.c8 = "<%= image_url('8.jpg') %>";
   window.c9 = "<%= image_url('9.jpg') %>";
   window.c10 = "<%= image_url('10.jpg') %>";
   window.c11 = "<%= image_url('11.jpg') %>";
   window.c12 = "<%= image_url('12.jpg') %>";
   window.c13 = "<%= image_url('13.jpg') %>";

</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

